@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 10px -10px #666;
}

.fa-arrow-left {
  position: absolute;
  top: 2rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.fa-arrow-left:visited {
  color: black;
}

.fa-arrow-left:active {
  color: black;
}

footer {
  width: 100%;
  background-color: #353535;
  height: 220px;
}

footer p {
  color: white;
  padding-left: 2rem;
}

.footer-bloc img {
  width: 8rem;
  padding: 1rem 0 0 2rem;
}

footer .fa-utensils {
  padding-right: 1rem;
}

footer .fa-handshake-angle {
  padding-right: 0.5rem;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  footer {
    text-align: center;
    justify-content: center;
    padding: 0;
  }
  .footer-bloc img {
    width: 13rem;
  }
}
@media screen and (min-width: 1023px) {
  footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-text {
    display: flex;
    flex-direction: row;
  }
}
.btn-explore {
  display: block;
  margin: auto;
  margin-top: 4rem;
  border-radius: 50px;
  border: none;
  padding: 1.2rem 3rem 1.2rem 3rem;
  background-image: linear-gradient(to bottom right, #e571da, #ab5edb);
  box-shadow: 2px 4px 4px gray;
}

.btn-explore:hover {
  background-image: none;
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  box-shadow: 4px 5px 4px gray;
}

.btn-explore-text {
  color: white;
  font-size: 1.2rem;
}

@media screen and (min-width: 1023px) {
  .btn-explore {
    margin-top: 2rem;
  }
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  width: 100%;
}

.localisation {
  background-color: #e9e8e8;
  padding: 3px 0 0;
  margin-top: 5px;
  width: 100%;
  border-bottom: none;
}
.localisation p {
  text-align: center;
}
.localisation h1 {
  text-align: center;
}
.localisation i {
  margin-right: 20px;
}

.reserve {
  background-color: #f6f6f6;
  width: 100%;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
.reserve h1 {
  font-size: 1.5rem;
}
.reserve .text-order {
  font-size: 1.3rem;
}
.reserve .text-discover {
  font-size: 1.2rem;
}

.fonctionnement {
  border-radius: 25px;
  width: auto;
  margin-bottom: 2rem;
  margin-right: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  border: none;
  font-size: 1.1rem;
  margin-left: 0.7rem;
}
.fonctionnement strong {
  padding-left: 1.5rem;
  font-size: 1rem;
}
.fonctionnement:hover {
  background-color: #f5edff;
}

.numero {
  position: absolute;
  left: 0.2rem;
  color: rgb(0, 101, 252);
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  padding: 4px 8.5px;
  background-color: #9356DC;
  color: white;
  margin-bottom: 30px;
}

.fonction-icon {
  color: #7e7e7e;
  padding-left: 1rem;
}

.li-color {
  background-color: #f5edff;
}

.fonction {
  padding-left: 1rem;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.middlepart {
  gap: 20px;
  background-color: #f6f6f6;
  width: 100%;
  padding-bottom: 1rem;
}

.middlepart h1 {
  padding-top: 1rem;
}

#restaurant {
  margin-bottom: 5rem;
  margin-left: 1rem;
}

.vignettes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.restaurant-bloc {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border-radius: 18px;
  box-sizing: border-box;
  border: none;
  box-shadow: 1px 4px 10px grey;
  margin: 0 2rem 0 1rem;
  padding: 0;
}
.restaurant-bloc img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
}
.restaurant-bloc .restaurant-description-span {
  font-size: 14px;
  width: 10px;
  color: black;
}
.restaurant-bloc .restaurant-description {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  color: black;
  width: 20px;
}
.restaurant-bloc p {
  font-size: 17px;
  padding-left: 10px;
}
.restaurant-bloc .restaurant-icon {
  color: rgb(0, 101, 252);
  padding-left: 10px;
}

.coeur {
  position: absolute;
  right: 2rem;
  font-size: 1.7rem;
  transform: scale(0.8);
  font-weight: 100;
  margin-bottom: 3rem;
}

.coeur-bold {
  position: absolute;
  right: 2rem;
  opacity: 0;
}

.coeur-bold:hover {
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: coeur;
          animation-name: coeur;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes coeur {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes coeur {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
  }
}
.new {
  position: absolute;
  right: -0.5rem;
  margin: 1rem 1.5rem 0 0;
  padding: 0.5rem 0.8rem;
  background-color: #99E2D0;
  color: #008766;
}

a {
  text-decoration: none;
  background-color: transparent;
}

strong {
  color: black;
}

@media screen and (min-width: 1023px) {
  .Fonctionnement-bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .fonctionnement {
    position: relative;
    margin-left: 3rem;
    padding-right: 2rem;
  }
  .numero {
    left: -1rem;
  }
  .fonction {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .middlepart {
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
  }
  .vignettes {
    display: grid;
    gap: 30px;
    justify-content: space-between;
    grid-template-columns: 0.3fr 0.3fr;
    align-items: center;
    justify-content: center;
  }
  #restaurant h1 {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
  }
}
html {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  z-index: 9;
}

header {
  background-color: white;
}

.head img {
  width: 12rem;
  padding: 1.5rem 0rem 0rem 1rem;
}

main {
  padding: 0;
  margin: 0;
  min-width: 320px;
}

.image {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 4rem;
  margin-top: -80px;
  position: relative;
}
.carte .restaurant-plat-span {
  font-size: 0.9rem;
}
.carte .restaurant-plat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte .plat {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 1rem;
  border-radius: 15px;
  margin: 0 1rem;
  background-color: white;
  box-shadow: 1px 4px 10px grey;
  margin-bottom: 1.5rem;
}
.carte .animation {
  -webkit-animation-name: enter;
          animation-name: enter;
  -webkit-animation-duration: 1400ms;
          animation-duration: 1400ms;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.carte .animation1 {
  -webkit-animation-name: enter;
          animation-name: enter;
  -webkit-animation-duration: 1400ms;
          animation-duration: 1400ms;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.carte .animation2 {
  -webkit-animation-name: enter;
          animation-name: enter;
  -webkit-animation-duration: 1400ms;
          animation-duration: 1400ms;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes enter {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes enter {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.prix {
  z-index: 1;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

.restaurant-titre {
  border-bottom: 3px solid #99E2D0;
  width: 2.5rem;
  margin-left: 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding-bottom: 0.5rem;
}

.coeur-vide {
  position: absolute;
  right: 2rem;
  padding-left: 1rem;
}

.coeur-bold1 {
  position: absolute;
  right: 0rem;
  opacity: 0;
}

.coeur-bold1:hover {
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: coeur;
          animation-name: coeur;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes coeur {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}
.checkmark {
  opacity: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  color: white;
  overflow: hidden;
  padding: 1.8rem;
  background-color: #99E2D0;
}

.p-font {
  font-family: Shrikhand;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: 2rem;
  display: flex;
  align-items: center;
}

.plat:hover .prix {
  margin-right: 5rem;
  transition: all linear 0.3s;
}

.plat:hover .checkmark {
  opacity: 1;
  -webkit-animation-name: entree;
          animation-name: entree;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  transition: 400ms ease-in-out;
}

@-webkit-keyframes entree {
  0% {
    transform: translate(80px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes entree {
  0% {
    transform: translate(80px);
  }
  100% {
    transform: translate(0px);
  }
}
.plat:hover .fa-circle-check {
  -webkit-animation-name: rota;
          animation-name: rota;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
}

@-webkit-keyframes rota {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rota {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 1023px) {
  .carte {
    margin-left: 6rem;
    margin-right: 6rem;
    display: block;
    align-items: center;
    justify-content: center;
  }
  .carte .plat {
    width: 50%;
  }
  .animation {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .animation1 {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .animation2 {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .p-font {
    font-size: 1.8rem;
  }
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #444;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-name: loader-end;
          animation-name: loader-end;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes loader-end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes loader-end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.preloader h1 {
  color: white;
  font-family: Shrikhand;
  font-weight: 100;
  font-size: 3.2rem;
  -webkit-animation-name: departure;
          animation-name: departure;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes departure {
  80% {
    transform: translateX(-150px);
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes departure {
  80% {
    transform: translateX(-150px);
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.preloader .loader {
  display: block;
  width: 64px;
  height: 64px;
  position: relative;
  padding-right: 4rem;
  -webkit-animation-name: departure;
          animation-name: departure;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.preloader .loader::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border: 6px solid white;
  border-color: #9356DC transparent #FF79DA transparent;
  border-radius: 50%;
  -webkit-animation: loader 1s infinite ease-in-out;
          animation: loader 1s infinite ease-in-out;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*<div class="preloader">
  <h1>OhMyFood</h1>
  <span class="loader"></span>

  </div>*//*# sourceMappingURL=main.css.map */