
header
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 10px -10px #666;
  }
  .fa-arrow-left
  {
    position: absolute;
    top: 2rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
   }
   .fa-arrow-left:visited
   {
    color: black;
   }
   .fa-arrow-left:active
   {
    color: black;
   }
