
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    width: 100%;
  }
  .localisation {
    background-color: #e9e8e8;
    padding: 3px 0 0;
    margin-top: 5px;
    width: 100%;
    border-bottom: none;
    p {
      text-align: center;
    }
    h1 {
      text-align: center;
    }
    i {
      margin-right: 20px;
    }
  }

  .reserve {
    background-color: $silver;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    h1 {
      font-size: 1.5rem;
    }
    .text-order {
      font-size: 1.3rem;
    }
    .text-discover {
      font-size: 1.2rem;
    }
  }

  .fonctionnement {
    border-radius: 25px;
    width: auto;
    margin-bottom: 2rem;
    margin-right: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: $silver;
    border: none;
    font-size: 1.1rem;
    margin-left: 0.7rem;
    strong {
      padding-left: 1.5rem;
      font-size: 1rem;
    }
    &:hover {
      background-color: #f5edff;
    }
  }

  .numero {
    position: absolute;
    left: 0.2rem;
    color: rgb(0, 101, 252);
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    padding: 4px 8.5px;
    background-color: $primary-color;
    color: white;
    margin-bottom: 30px;
  }
  .fonction-icon {
    color: #7e7e7e;
    padding-left: 1rem;
  }
  .li-color {
    background-color: #f5edff;
  }

  .fonction {
    padding-left: 1rem;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .middlepart {
    gap: 20px;
    background-color: $silver;
    width: 100%;
    padding-bottom: 1rem;
  }
  .middlepart h1 {
    padding-top: 1rem;
  }

  #restaurant {
    margin-bottom: 5rem;
    margin-left: 1rem;
  }
  .vignettes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .restaurant-bloc {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 18px;
    box-sizing: border-box;
    border: none;
    box-shadow: 1px 4px 10px grey;
    margin: 0 2rem 0 1rem;
    padding: 0;
    img {
      width: 100%;
      object-fit: cover;
      height: 175px;
    }
    .restaurant-description-span {
      font-size: 14px;
      width: 10px;
      color: black;
    }
    .restaurant-description {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      white-space: nowrap;
      color: black;
      width: 20px;
    }
    p {
      font-size: 17px;
      padding-left: 10px;
    }
    .restaurant-icon {
      color: rgb(0, 101, 252);
      padding-left: 10px;
    }
  }

  .coeur {
    position: absolute;
    right: 2rem;
    font-size: 1.7rem;
    transform: scale(0.8);
    font-weight: 100;
    margin-bottom: 3rem;
  }

  .coeur-bold {
    position: absolute;
    right: 2rem;
    opacity: 0;
  }
  .coeur-bold:hover {
    background: linear-gradient(200deg, $primary-color 35%, $second-color 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: coeur;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  @keyframes coeur {
    0% {
       transform:scale(0.1);
      opacity: 1;
    }
    100% {
      transform:scale(1.2);
    }
  }
  .new {
    position: absolute;
    right: -0.5rem;
    margin: 1rem 1.5rem 0 0;
    padding: 0.5rem 0.8rem;
    background-color: $tertiary-color;
    color: #008766;
  }
  a {
    text-decoration: none;
    background-color: transparent;
  }

  strong {
    color: black;
  }

  @media screen and (min-width: 1023px){
    .Fonctionnement-bloc{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .fonctionnement
    {
      position: relative;
      margin-left: 3rem;
      padding-right: 2rem;
    }
    .numero
    {
      left: -1rem;
    }
    .fonction
    {
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .middlepart
    {
      align-items: center;
      justify-content: center;
      padding-bottom: 1rem;

    }
    .vignettes
    {
      display: grid;
      gap: 30px;
      justify-content: space-between;
      grid-template-columns: 0.3fr 0.3fr;
      align-items: center;
      justify-content: center;
    }
    #restaurant h1
    {
      display: flex;
      padding-top: 2rem;
      align-items: center;
      justify-content: center;

    }
  }


  
